
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="pagetitle">
    <h1>Bảng điều khiển</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="HomeAdmin" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Bảng điều khiển</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                                <li><a class="dropdown-item" href="#">Tháng nay</a></li>
                                <li><a class="dropdown-item" href="#">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Đơn hàng <span>| Hôm nay</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>1.450</h6>
                                    <span class="text-muted small pt-2 ps-1">tăng  </span><span class="text-success small pt-1 fw-bold">12%</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                                <li><a class="dropdown-item" href="#">Tháng nay</a></li>
                                <li><a class="dropdown-item" href="#">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Doanh thu <span>| Tháng này</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>$30,264</h6>
                                    <span class="text-muted small pt-2 ps-1">tăng</span> <span class="text-success small pt-1 fw-bold">8%</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                                <li><a class="dropdown-item" href="#">Tháng nay</a></li>
                                <li><a class="dropdown-item" href="#">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Khách hàng <span>| Năm nay</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>1.244.000</h6>
                                    <span class="text-muted small pt-2 ps-1">Giảm</span> <span class="text-danger small pt-1 fw-bold">12%</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Reports -->
                <div class="col-12">
                    <div class="card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                                <li><a class="dropdown-item" href="#">Tháng nay</a></li>
                                <li><a class="dropdown-item" href="#">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Báo cáo <span>/Hôm nay</span></h5>

                            <!-- Line Chart -->
                            <div id="reportsChart" class="" style="min-height: 365px;">
                                <div id="apexchartsf6f0wjan" class="apexcharts-canvas apexchartsf6f0wjan apexcharts-theme-" style="width: 601px; height: 350px;">
                                    <svg id="SvgjsSvg1194" width="601" height="350" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)">
                                        <foreignObject x="0" y="0" width="601" height="350">
                                            <div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom" xmlns="http://www.w3.org/1999/xhtml" style="inset: auto 0px 1px; position: absolute; max-height: 175px;">
                                                <div class="apexcharts-legend-series" rel="1" seriesname="Đơn hàng" data:collapsed="false" style="margin: 4px 5px;">
                                                    <span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
                                                        <svg id="SvgjsSvg1197" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev">
                                                            <defs id="SvgjsDefs1198"><clipPath id="gridRectMaskf6f0wjan"><rect id="SvgjsRect1216" width="557.7604160308838" height="270.99999923706054" x="-3" y="-3" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskf6f0wjan"></clipPath><clipPath id="nonForecastMaskf6f0wjan"></clipPath><clipPath id="gridRectMarkerMaskf6f0wjan"><rect id="SvgjsRect1217" width="599.7604160308838" height="312.99999923706054" x="-24" y="-24" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs>
                                                            <path id="SvgjsPath1199" d="M 0, 0
           m -7, 0
           a 7,7 0 1,0 14,0
           a 7,7 0 1,0 -14,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path>
                                                        </svg>
                                                    </span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Sales" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Đơn hàng</span>
                                                </div><div class="apexcharts-legend-series" rel="2" seriesname="Doanh thu" data:collapsed="false" style="margin: 4px 5px;">
                                                    <span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
                                                        <svg id="SvgjsSvg1200" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev">
                                                            <defs id="SvgjsDefs1201"></defs>
                                                            <path id="SvgjsPath1202" d="M 0, 0
           m -7, 0
           a 7,7 0 1,0 14,0
           a 7,7 0 1,0 -14,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path>
                                                        </svg>
                                                    </span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Revenue" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Doanh thu</span>
                                                </div><div class="apexcharts-legend-series" rel="3" seriesname="Khách hàng" data:collapsed="false" style="margin: 4px 5px;">
                                                    <span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="height: 16px; width: 16px; left: 0px; top: 0px;">
                                                        <svg id="SvgjsSvg1203" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev">
                                                            <defs id="SvgjsDefs1204"></defs>
                                                            <path id="SvgjsPath1205" d="M 0, 0
           m -7, 0
           a 7,7 0 1,0 14,0
           a 7,7 0 1,0 -14,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="1" stroke-dasharray="0" cx="0" cy="0" shape="circle" class="apexcharts-legend-marker apexcharts-marker apexcharts-marker-circle" style="transform: translate(50%, 50%);"></path>
                                                        </svg>
                                                    </span><span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Customers" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Khách hàng</span>
                                                </div>
                                            </div><style type="text/css">
                                                      .apexcharts-legend {
                                                          display: flex;
                                                          overflow: auto;
                                                          padding: 0 10px;
                                                      }

                                                          .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
                                                              flex-wrap: wrap
                                                          }

                                                          .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                              flex-direction: column;
                                                              bottom: 0;
                                                          }

                                                          .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                              justify-content: flex-start;
                                                          }

                                                          .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
                                                              justify-content: center;
                                                          }

                                                          .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
                                                              justify-content: flex-end;
                                                          }

                                                      .apexcharts-legend-series {
                                                          cursor: pointer;
                                                          line-height: normal;
                                                          display: flex;
                                                          align-items: center;
                                                      }

                                                      .apexcharts-legend-text {
                                                          position: relative;
                                                          font-size: 14px;
                                                      }

                                                          .apexcharts-legend-text *, .apexcharts-legend-marker * {
                                                              pointer-events: none;
                                                          }

                                                      .apexcharts-legend-marker {
                                                          position: relative;
                                                          display: flex;
                                                          align-items: center;
                                                          justify-content: center;
                                                          cursor: pointer;
                                                          margin-right: 1px;
                                                      }

                                                      .apexcharts-legend-series.apexcharts-no-click {
                                                          cursor: auto;
                                                      }

                                                      .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
                                                          display: none !important;
                                                      }

                                                      .apexcharts-inactive-legend {
                                                          opacity: 0.45;
                                                      }</style>
                                        </foreignObject>
                                        <rect id="SvgjsRect1211" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
                                        <g id="SvgjsG1218" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
                                        <g id="SvgjsG1219" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"></g>
                                        <g id="SvgjsG1336" class="apexcharts-yaxis" rel="0" transform="translate(9.239583969116211, 0)"><g id="SvgjsG1337" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1339" font-family="Helvetica, Arial, sans-serif" x="20" y="33.666666666666664" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1340">90</tspan><title>90</title></text><text id="SvgjsText1342" font-family="Helvetica, Arial, sans-serif" x="20" y="63.111111026340055" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1343">80</tspan><title>80</title></text><text id="SvgjsText1345" font-family="Helvetica, Arial, sans-serif" x="20" y="92.55555538601345" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1346">70</tspan><title>70</title></text><text id="SvgjsText1348" font-family="Helvetica, Arial, sans-serif" x="20" y="121.99999974568685" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1349">60</tspan><title>60</title></text><text id="SvgjsText1351" font-family="Helvetica, Arial, sans-serif" x="20" y="151.44444410536025" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1352">50</tspan><title>50</title></text><text id="SvgjsText1354" font-family="Helvetica, Arial, sans-serif" x="20" y="180.88888846503363" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1355">40</tspan><title>40</title></text><text id="SvgjsText1357" font-family="Helvetica, Arial, sans-serif" x="20" y="210.333332824707" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1358">30</tspan><title>30</title></text><text id="SvgjsText1360" font-family="Helvetica, Arial, sans-serif" x="20" y="239.7777771843804" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1361">20</tspan><title>20</title></text><text id="SvgjsText1363" font-family="Helvetica, Arial, sans-serif" x="20" y="269.2222215440538" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1364">10</tspan><title>10</title></text><text id="SvgjsText1366" font-family="Helvetica, Arial, sans-serif" x="20" y="298.6666659037272" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1367">0</tspan><title>0</title></text></g></g>
                                        <g id="SvgjsG1196" class="apexcharts-inner apexcharts-graphical" transform="translate(39.23958396911621, 30)">
                                            <defs id="SvgjsDefs1195"><linearGradient id="SvgjsLinearGradient1237" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1238" stop-opacity="0.3" stop-color="rgba(65,84,241,0.3)" offset="0"></stop><stop id="SvgjsStop1239" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop id="SvgjsStop1240" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1259" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1260" stop-opacity="0.3" stop-color="rgba(46,202,106,0.3)" offset="0"></stop><stop id="SvgjsStop1261" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop id="SvgjsStop1262" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1281" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1282" stop-opacity="0.3" stop-color="rgba(255,119,29,0.3)" offset="0"></stop><stop id="SvgjsStop1283" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop id="SvgjsStop1284" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1212" x1="0" y1="0" x2="0" y2="211.15556640625" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="211.15556640625" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><line id="SvgjsLine1291" x1="0" y1="264.99999923706054" x2="0" y2="270.99999923706054" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1292" x1="84.8862178509052" y1="264.99999923706054" x2="84.8862178509052" y2="270.99999923706054" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1293" x1="169.7724357018104" y1="264.99999923706054" x2="169.7724357018104" y2="270.99999923706054" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1294" x1="254.65865355271558" y1="264.99999923706054" x2="254.65865355271558" y2="270.99999923706054" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1295" x1="339.5448714036208" y1="264.99999923706054" x2="339.5448714036208" y2="270.99999923706054" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1296" x1="424.431089254526" y1="264.99999923706054" x2="424.431089254526" y2="270.99999923706054" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1297" x1="509.3173071054312" y1="264.99999923706054" x2="509.3173071054312" y2="270.99999923706054" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><g id="SvgjsG1287" class="apexcharts-grid"><g id="SvgjsG1288" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1299" x1="0" y1="29.444444359673394" x2="551.7604160308838" y2="29.444444359673394" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1300" x1="0" y1="58.88888871934679" x2="551.7604160308838" y2="58.88888871934679" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1301" x1="0" y1="88.33333307902018" x2="551.7604160308838" y2="88.33333307902018" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1302" x1="0" y1="117.77777743869358" x2="551.7604160308838" y2="117.77777743869358" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1303" x1="0" y1="147.22222179836697" x2="551.7604160308838" y2="147.22222179836697" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1304" x1="0" y1="176.66666615804036" x2="551.7604160308838" y2="176.66666615804036" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1305" x1="0" y1="206.11111051771374" x2="551.7604160308838" y2="206.11111051771374" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1306" x1="0" y1="235.55555487738712" x2="551.7604160308838" y2="235.55555487738712" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1289" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1309" x1="0" y1="264.99999923706054" x2="551.7604160308838" y2="264.99999923706054" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1308" x1="0" y1="1" x2="0" y2="264.99999923706054" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1290" class="apexcharts-grid-borders"><line id="SvgjsLine1298" x1="0" y1="0" x2="551.7604160308838" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1307" x1="0" y1="264.99999923706054" x2="551.7604160308838" y2="264.99999923706054" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1335" x1="0" y1="264.99999923706054" x2="551.7604160308838" y2="264.99999923706054" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g id="SvgjsG1220" class="apexcharts-area-series apexcharts-plot-series">
                                                <g id="SvgjsG1221" class="apexcharts-series" zIndex="0" seriesName="Sales" data:longestSeries="true" rel="1" data:realIndex="0">
                                                    <path id="SvgjsPath1241" d="M 0 173.72222172207302C 44.56526437172522 173.72222172207302 82.76406240463257 147.22222179836695 127.32932677635779 147.22222179836695C 157.0395030241746 147.22222179836695 182.50536837944617 182.55555502997504 212.21554462726297 182.55555502997504C 241.92572087507978 182.55555502997504 267.3915862303513 114.83333300272622 297.10176247816815 114.83333300272622C 326.811938725985 114.83333300272622 352.27780408125653 141.33333292643226 381.98798032907337 141.33333292643226C 411.6981565768902 141.33333292643226 437.16402193216175 23.5555554877387 466.8741981799786 23.5555554877387C 496.5843744277954 23.5555554877387 522.050239783067 100.11111082288951 551.7604160308838 100.11111082288951C 551.7604160308838 100.11111082288951 551.7604160308838 100.11111082288951 551.7604160308838 264.99999923706054 L 0 264.99999923706054z" fill="url(#SvgjsLinearGradient1237)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskf6f0wjan)" pathTo="M 0 173.72222172207302C 44.56526437172522 173.72222172207302 82.76406240463257 147.22222179836695 127.32932677635779 147.22222179836695C 157.0395030241746 147.22222179836695 182.50536837944617 182.55555502997504 212.21554462726297 182.55555502997504C 241.92572087507978 182.55555502997504 267.3915862303513 114.83333300272622 297.10176247816815 114.83333300272622C 326.811938725985 114.83333300272622 352.27780408125653 141.33333292643226 381.98798032907337 141.33333292643226C 411.6981565768902 141.33333292643226 437.16402193216175 23.5555554877387 466.8741981799786 23.5555554877387C 496.5843744277954 23.5555554877387 522.050239783067 100.11111082288951 551.7604160308838 100.11111082288951C 551.7604160308838 100.11111082288951 551.7604160308838 100.11111082288951 551.7604160308838 264.99999923706054 L 0 264.99999923706054z" pathFrom="M 0 264.99999923706054 L 0 264.99999923706054 L 127.32932677635779 264.99999923706054 L 212.21554462726297 264.99999923706054 L 297.10176247816815 264.99999923706054 L 381.98798032907337 264.99999923706054 L 466.8741981799786 264.99999923706054 L 551.7604160308838 264.99999923706054z"></path><path id="SvgjsPath1242" d="M 0 173.72222172207302C 44.56526437172522 173.72222172207302 82.76406240463257 147.22222179836695 127.32932677635779 147.22222179836695C 157.0395030241746 147.22222179836695 182.50536837944617 182.55555502997504 212.21554462726297 182.55555502997504C 241.92572087507978 182.55555502997504 267.3915862303513 114.83333300272622 297.10176247816815 114.83333300272622C 326.811938725985 114.83333300272622 352.27780408125653 141.33333292643226 381.98798032907337 141.33333292643226C 411.6981565768902 141.33333292643226 437.16402193216175 23.5555554877387 466.8741981799786 23.5555554877387C 496.5843744277954 23.5555554877387 522.050239783067 100.11111082288951 551.7604160308838 100.11111082288951" fill="none" fill-opacity="1" stroke="#4154f1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskf6f0wjan)" pathTo="M 0 173.72222172207302C 44.56526437172522 173.72222172207302 82.76406240463257 147.22222179836695 127.32932677635779 147.22222179836695C 157.0395030241746 147.22222179836695 182.50536837944617 182.55555502997504 212.21554462726297 182.55555502997504C 241.92572087507978 182.55555502997504 267.3915862303513 114.83333300272622 297.10176247816815 114.83333300272622C 326.811938725985 114.83333300272622 352.27780408125653 141.33333292643226 381.98798032907337 141.33333292643226C 411.6981565768902 141.33333292643226 437.16402193216175 23.5555554877387 466.8741981799786 23.5555554877387C 496.5843744277954 23.5555554877387 522.050239783067 100.11111082288951 551.7604160308838 100.11111082288951" pathFrom="M 0 264.99999923706054 L 0 264.99999923706054 L 127.32932677635779 264.99999923706054 L 212.21554462726297 264.99999923706054 L 297.10176247816815 264.99999923706054 L 381.98798032907337 264.99999923706054 L 466.8741981799786 264.99999923706054 L 551.7604160308838 264.99999923706054" fill-rule="evenodd"></path><g id="SvgjsG1222" class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="0">
                                                        <g id="SvgjsG1224" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1225" d="M 0, 173.72222172207302
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="0" cy="173.72222172207302" shape="circle" class="apexcharts-marker no-pointer-events w1wzwg424" rel="0" j="0" index="0" default-marker-size="4"></path><path id="SvgjsPath1226" d="M 127.32932677635779, 147.22222179836695
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="127.32932677635779" cy="147.22222179836695" shape="circle" class="apexcharts-marker no-pointer-events w7gf5yoeag" rel="1" j="1" index="0" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1227" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1228" d="M 212.21554462726297, 182.55555502997504
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="212.21554462726297" cy="182.55555502997504" shape="circle" class="apexcharts-marker no-pointer-events wpdmgkwwnk" rel="2" j="2" index="0" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1229" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1230" d="M 297.10176247816815, 114.83333300272622
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="297.10176247816815" cy="114.83333300272622" shape="circle" class="apexcharts-marker no-pointer-events wt47on14kh" rel="3" j="3" index="0" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1231" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1232" d="M 381.98798032907337, 141.33333292643226
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="381.98798032907337" cy="141.33333292643226" shape="circle" class="apexcharts-marker no-pointer-events ww5a5dmud" rel="4" j="4" index="0" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1233" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1234" d="M 466.8741981799786, 23.5555554877387
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="466.8741981799786" cy="23.5555554877387" shape="circle" class="apexcharts-marker no-pointer-events wbvxvztxp" rel="5" j="5" index="0" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1235" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1236" d="M 551.7604160308838, 100.11111082288951
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#4154f1" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="551.7604160308838" cy="100.11111082288951" shape="circle" class="apexcharts-marker no-pointer-events w44s8r5j9" rel="6" j="6" index="0" default-marker-size="4"></path>
                                                        </g>
                                                    </g>
                                                </g><g id="SvgjsG1243" class="apexcharts-series" zIndex="1" seriesName="Revenue" data:longestSeries="true" rel="2" data:realIndex="1">
                                                    <path id="SvgjsPath1263" d="M 0 232.6111104414198C 44.56526437172522 232.6111104414198 82.76406240463257 170.77777728610567 127.32932677635779 170.77777728610567C 157.0395030241746 170.77777728610567 182.50536837944617 132.49999961853027 212.21554462726297 132.49999961853027C 241.92572087507978 132.49999961853027 267.3915862303513 170.77777728610567 297.10176247816815 170.77777728610567C 326.811938725985 170.77777728610567 352.27780408125653 164.888888414171 381.98798032907337 164.888888414171C 411.6981565768902 164.888888414171 437.16402193216175 111.88888856675888 466.8741981799786 111.88888856675888C 496.5843744277954 111.88888856675888 522.050239783067 144.2777773623996 551.7604160308838 144.2777773623996C 551.7604160308838 144.2777773623996 551.7604160308838 144.2777773623996 551.7604160308838 264.99999923706054 L 0 264.99999923706054z" fill="url(#SvgjsLinearGradient1259)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskf6f0wjan)" pathTo="M 0 232.6111104414198C 44.56526437172522 232.6111104414198 82.76406240463257 170.77777728610567 127.32932677635779 170.77777728610567C 157.0395030241746 170.77777728610567 182.50536837944617 132.49999961853027 212.21554462726297 132.49999961853027C 241.92572087507978 132.49999961853027 267.3915862303513 170.77777728610567 297.10176247816815 170.77777728610567C 326.811938725985 170.77777728610567 352.27780408125653 164.888888414171 381.98798032907337 164.888888414171C 411.6981565768902 164.888888414171 437.16402193216175 111.88888856675888 466.8741981799786 111.88888856675888C 496.5843744277954 111.88888856675888 522.050239783067 144.2777773623996 551.7604160308838 144.2777773623996C 551.7604160308838 144.2777773623996 551.7604160308838 144.2777773623996 551.7604160308838 264.99999923706054 L 0 264.99999923706054z" pathFrom="M 0 264.99999923706054 L 0 264.99999923706054 L 127.32932677635779 264.99999923706054 L 212.21554462726297 264.99999923706054 L 297.10176247816815 264.99999923706054 L 381.98798032907337 264.99999923706054 L 466.8741981799786 264.99999923706054 L 551.7604160308838 264.99999923706054z"></path><path id="SvgjsPath1264" d="M 0 232.6111104414198C 44.56526437172522 232.6111104414198 82.76406240463257 170.77777728610567 127.32932677635779 170.77777728610567C 157.0395030241746 170.77777728610567 182.50536837944617 132.49999961853027 212.21554462726297 132.49999961853027C 241.92572087507978 132.49999961853027 267.3915862303513 170.77777728610567 297.10176247816815 170.77777728610567C 326.811938725985 170.77777728610567 352.27780408125653 164.888888414171 381.98798032907337 164.888888414171C 411.6981565768902 164.888888414171 437.16402193216175 111.88888856675888 466.8741981799786 111.88888856675888C 496.5843744277954 111.88888856675888 522.050239783067 144.2777773623996 551.7604160308838 144.2777773623996" fill="none" fill-opacity="1" stroke="#2eca6a" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskf6f0wjan)" pathTo="M 0 232.6111104414198C 44.56526437172522 232.6111104414198 82.76406240463257 170.77777728610567 127.32932677635779 170.77777728610567C 157.0395030241746 170.77777728610567 182.50536837944617 132.49999961853027 212.21554462726297 132.49999961853027C 241.92572087507978 132.49999961853027 267.3915862303513 170.77777728610567 297.10176247816815 170.77777728610567C 326.811938725985 170.77777728610567 352.27780408125653 164.888888414171 381.98798032907337 164.888888414171C 411.6981565768902 164.888888414171 437.16402193216175 111.88888856675888 466.8741981799786 111.88888856675888C 496.5843744277954 111.88888856675888 522.050239783067 144.2777773623996 551.7604160308838 144.2777773623996" pathFrom="M 0 264.99999923706054 L 0 264.99999923706054 L 127.32932677635779 264.99999923706054 L 212.21554462726297 264.99999923706054 L 297.10176247816815 264.99999923706054 L 381.98798032907337 264.99999923706054 L 466.8741981799786 264.99999923706054 L 551.7604160308838 264.99999923706054" fill-rule="evenodd"></path><g id="SvgjsG1244" class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="1">
                                                        <g id="SvgjsG1246" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1247" d="M 0, 232.6111104414198
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="0" cy="232.6111104414198" shape="circle" class="apexcharts-marker no-pointer-events w0d7gr29x" rel="0" j="0" index="1" default-marker-size="4"></path><path id="SvgjsPath1248" d="M 127.32932677635779, 170.77777728610567
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="127.32932677635779" cy="170.77777728610567" shape="circle" class="apexcharts-marker no-pointer-events w54ga9olc" rel="1" j="1" index="1" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1249" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1250" d="M 212.21554462726297, 132.49999961853027
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="212.21554462726297" cy="132.49999961853027" shape="circle" class="apexcharts-marker no-pointer-events wu2w6icti" rel="2" j="2" index="1" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1251" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1252" d="M 297.10176247816815, 170.77777728610567
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="297.10176247816815" cy="170.77777728610567" shape="circle" class="apexcharts-marker no-pointer-events wav9hyvkq" rel="3" j="3" index="1" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1253" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1254" d="M 381.98798032907337, 164.888888414171
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="381.98798032907337" cy="164.888888414171" shape="circle" class="apexcharts-marker no-pointer-events wk6sg6pzl" rel="4" j="4" index="1" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1255" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1256" d="M 466.8741981799786, 111.88888856675888
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="466.8741981799786" cy="111.88888856675888" shape="circle" class="apexcharts-marker no-pointer-events weld5y69u" rel="5" j="5" index="1" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1257" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1258" d="M 551.7604160308838, 144.2777773623996
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#2eca6a" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="551.7604160308838" cy="144.2777773623996" shape="circle" class="apexcharts-marker no-pointer-events w7rhlh51k" rel="6" j="6" index="1" default-marker-size="4"></path>
                                                        </g>
                                                    </g>
                                                </g><g id="SvgjsG1265" class="apexcharts-series" zIndex="2" seriesName="Customers" data:longestSeries="true" rel="3" data:realIndex="2">
                                                    <path id="SvgjsPath1285" d="M 0 220.83333269755045C 44.56526437172522 220.83333269755045 82.76406240463257 232.6111104414198 127.32932677635779 232.6111104414198C 157.0395030241746 232.6111104414198 182.50536837944617 170.77777728610567 212.21554462726297 170.77777728610567C 241.92572087507978 170.77777728610567 267.3915862303513 211.99999938964842 297.10176247816815 211.99999938964842C 326.811938725985 211.99999938964842 352.27780408125653 238.49999931335446 381.98798032907337 238.49999931335446C 411.6981565768902 238.49999931335446 437.16402193216175 194.3333327738444 466.8741981799786 194.3333327738444C 496.5843744277954 194.3333327738444 522.050239783067 232.6111104414198 551.7604160308838 232.6111104414198C 551.7604160308838 232.6111104414198 551.7604160308838 232.6111104414198 551.7604160308838 264.99999923706054 L 0 264.99999923706054z" fill="url(#SvgjsLinearGradient1281)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMaskf6f0wjan)" pathTo="M 0 220.83333269755045C 44.56526437172522 220.83333269755045 82.76406240463257 232.6111104414198 127.32932677635779 232.6111104414198C 157.0395030241746 232.6111104414198 182.50536837944617 170.77777728610567 212.21554462726297 170.77777728610567C 241.92572087507978 170.77777728610567 267.3915862303513 211.99999938964842 297.10176247816815 211.99999938964842C 326.811938725985 211.99999938964842 352.27780408125653 238.49999931335446 381.98798032907337 238.49999931335446C 411.6981565768902 238.49999931335446 437.16402193216175 194.3333327738444 466.8741981799786 194.3333327738444C 496.5843744277954 194.3333327738444 522.050239783067 232.6111104414198 551.7604160308838 232.6111104414198C 551.7604160308838 232.6111104414198 551.7604160308838 232.6111104414198 551.7604160308838 264.99999923706054 L 0 264.99999923706054z" pathFrom="M 0 264.99999923706054 L 0 264.99999923706054 L 127.32932677635779 264.99999923706054 L 212.21554462726297 264.99999923706054 L 297.10176247816815 264.99999923706054 L 381.98798032907337 264.99999923706054 L 466.8741981799786 264.99999923706054 L 551.7604160308838 264.99999923706054z"></path><path id="SvgjsPath1286" d="M 0 220.83333269755045C 44.56526437172522 220.83333269755045 82.76406240463257 232.6111104414198 127.32932677635779 232.6111104414198C 157.0395030241746 232.6111104414198 182.50536837944617 170.77777728610567 212.21554462726297 170.77777728610567C 241.92572087507978 170.77777728610567 267.3915862303513 211.99999938964842 297.10176247816815 211.99999938964842C 326.811938725985 211.99999938964842 352.27780408125653 238.49999931335446 381.98798032907337 238.49999931335446C 411.6981565768902 238.49999931335446 437.16402193216175 194.3333327738444 466.8741981799786 194.3333327738444C 496.5843744277954 194.3333327738444 522.050239783067 232.6111104414198 551.7604160308838 232.6111104414198" fill="none" fill-opacity="1" stroke="#ff771d" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMaskf6f0wjan)" pathTo="M 0 220.83333269755045C 44.56526437172522 220.83333269755045 82.76406240463257 232.6111104414198 127.32932677635779 232.6111104414198C 157.0395030241746 232.6111104414198 182.50536837944617 170.77777728610567 212.21554462726297 170.77777728610567C 241.92572087507978 170.77777728610567 267.3915862303513 211.99999938964842 297.10176247816815 211.99999938964842C 326.811938725985 211.99999938964842 352.27780408125653 238.49999931335446 381.98798032907337 238.49999931335446C 411.6981565768902 238.49999931335446 437.16402193216175 194.3333327738444 466.8741981799786 194.3333327738444C 496.5843744277954 194.3333327738444 522.050239783067 232.6111104414198 551.7604160308838 232.6111104414198" pathFrom="M 0 264.99999923706054 L 0 264.99999923706054 L 127.32932677635779 264.99999923706054 L 212.21554462726297 264.99999923706054 L 297.10176247816815 264.99999923706054 L 381.98798032907337 264.99999923706054 L 466.8741981799786 264.99999923706054 L 551.7604160308838 264.99999923706054" fill-rule="evenodd"></path><g id="SvgjsG1266" class="apexcharts-series-markers-wrap apexcharts-hidden-element-shown" data:realIndex="2">
                                                        <g id="SvgjsG1268" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1269" d="M 0, 220.83333269755045
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="0" cy="220.83333269755045" shape="circle" class="apexcharts-marker no-pointer-events w4zspfl5q" rel="0" j="0" index="2" default-marker-size="4"></path><path id="SvgjsPath1270" d="M 127.32932677635779, 232.6111104414198
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="127.32932677635779" cy="232.6111104414198" shape="circle" class="apexcharts-marker no-pointer-events wxfevbi5m" rel="1" j="1" index="2" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1271" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1272" d="M 212.21554462726297, 170.77777728610567
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="212.21554462726297" cy="170.77777728610567" shape="circle" class="apexcharts-marker no-pointer-events wde27g5uvg" rel="2" j="2" index="2" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1273" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1274" d="M 297.10176247816815, 211.99999938964842
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="297.10176247816815" cy="211.99999938964842" shape="circle" class="apexcharts-marker no-pointer-events w4bfquswc" rel="3" j="3" index="2" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1275" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1276" d="M 381.98798032907337, 238.49999931335446
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="381.98798032907337" cy="238.49999931335446" shape="circle" class="apexcharts-marker no-pointer-events wff19spl1" rel="4" j="4" index="2" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1277" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1278" d="M 466.8741981799786, 194.3333327738444
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="466.8741981799786" cy="194.3333327738444" shape="circle" class="apexcharts-marker no-pointer-events w143xtx6yl" rel="5" j="5" index="2" default-marker-size="4"></path>
                                                        </g><g id="SvgjsG1279" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskf6f0wjan)">
                                                            <path id="SvgjsPath1280" d="M 551.7604160308838, 232.6111104414198
           m -4, 0
           a 4,4 0 1,0 8,0
           a 4,4 0 1,0 -8,0" fill="#ff771d" fill-opacity="1" stroke="#ffffff" stroke-opacity="0.9" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" cx="551.7604160308838" cy="232.6111104414198" shape="circle" class="apexcharts-marker no-pointer-events w96565gx8" rel="6" j="6" index="2" default-marker-size="4"></path>
                                                        </g>
                                                    </g>
                                                </g><g id="SvgjsG1223" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG1245" class="apexcharts-datalabels" data:realIndex="1"></g><g id="SvgjsG1267" class="apexcharts-datalabels" data:realIndex="2"></g>
                                            </g><line id="SvgjsLine1310" x1="0" y1="0" x2="551.7604160308838" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1311" x1="0" y1="0" x2="551.7604160308838" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1312" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1313" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1315" font-family="Helvetica, Arial, sans-serif" x="0" y="292.99999923706054" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1316">00:00</tspan><title>00:00</title></text><text id="SvgjsText1318" font-family="Helvetica, Arial, sans-serif" x="84.8862178509052" y="292.99999923706054" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1319">01:00</tspan><title>01:00</title></text><text id="SvgjsText1321" font-family="Helvetica, Arial, sans-serif" x="169.7724357018104" y="292.99999923706054" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1322">02:00</tspan><title>02:00</title></text><text id="SvgjsText1324" font-family="Helvetica, Arial, sans-serif" x="254.65865355271558" y="292.99999923706054" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1325">03:00</tspan><title>03:00</title></text><text id="SvgjsText1327" font-family="Helvetica, Arial, sans-serif" x="339.5448714036208" y="292.99999923706054" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1328">04:00</tspan><title>04:00</title></text><text id="SvgjsText1330" font-family="Helvetica, Arial, sans-serif" x="424.431089254526" y="292.99999923706054" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1331">05:00</tspan><title>05:00</title></text><text id="SvgjsText1333" font-family="Helvetica, Arial, sans-serif" x="509.3173071054312" y="292.99999923706054" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1334">06:00</tspan><title>06:00</title></text></g></g><g id="SvgjsG1368" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1369" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1370" class="apexcharts-point-annotations"></g><rect id="SvgjsRect1371" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect1372" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect>
                                        </g>
                                    </svg><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(65, 84, 241);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(46, 202, 106);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 119, 29);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light"><div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div>
                                </div>
                            </div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: 'Đơn hàng',
                                            data: [31, 40, 28, 51, 42, 82, 56],
                                        }, {
                                            name: 'Doanh thu',
                                            data: [11, 32, 45, 32, 34, 52, 41]
                                        }, {
                                            name: 'Khách hàng',
                                            data: [15, 11, 32, 18, 9, 24, 11]
                                        }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'datetime',
                                            categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                        },
                                        tooltip: {
                                            x: {
                                                format: 'dd/MM/yy HH:mm'
                                            },
                                        }
                                    }).render();
                                });
                            </script>
                            <!-- End Line Chart -->

                        </div>

                    </div>
                </div><!-- End Reports -->
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                                <li><a class="dropdown-item" href="#">Tháng nay</a></li>
                                <li><a class="dropdown-item" href="#">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Doanh số gần đây <span>| Hôm nay</span></h5>

                            <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                                <div class="datatable-top">
                                    <div class="datatable-dropdown">
                                        <label>
                                            <select class="datatable-selector" name="per-page"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="-1">All</option></select> số mục trên mỗi trang
                                        </label>
                                    </div>
                                    <div class="datatable-search">
                                        <input class="datatable-input" placeholder="Tìm kiếm..." type="search" name="search" title="Search within table">
                                    </div>
                                </div>
                                <div class="datatable-container"><table class="table table-borderless datatable datatable-table"><thead><tr><th scope="col" data-sortable="true" style="width: 14.698795180722893%;"><button class="datatable-sorter">#</button></th><th scope="col" data-sortable="true" style="width: 24.096385542168676%;"><button class="datatable-sorter">Khách hàng</button></th><th scope="col" data-sortable="true" style="width: 24.819277108433734%;"><button class="datatable-sorter">Sản phẩm</button></th><th scope="col" data-sortable="true" style="width: 16.14457831325301%;"><button class="datatable-sorter">Giá</button></th><th scope="col" data-sortable="true" class="red" style="width: 20.240963855421686%;"><button class="datatable-sorter">Tình trạng</button></th></tr></thead><tbody><tr data-index="0"><td scope="row"><a href="#">#2457</a></td><td>Nguyễn Văn Hùng</td><td><a href="#" class="text-primary">Chuối tiêu</a></td><td>$64</td><td class="green"><span class="badge bg-success">Đã được phê duyệt</span></td></tr><tr data-index="1"><td scope="row"><a href="#">#2147</a></td><td>Trần Thị Mai</td><td><a href="#" class="text-primary">Dưa hấu ruột đỏ</a></td><td>$47</td><td class="green"><span class="badge bg-warning">Đang chờ xử lý</span></td></tr><tr data-index="2"><td scope="row"><a href="#">#2049</a></td><td>Lê Hoàng Nam</td><td><a href="#" class="text-primary">Ớt chuông vàng</a></td><td>$147</td><td class="green"><span class="badge bg-success">Đã được phê duyệt</span></td></tr><tr data-index="3"><td scope="row"><a href="#">#2644</a></td><td>Phạm Thúy Lan</td><td><a href="#" class="text-primar">Xoài cát Hòa Lộc</a></td><td>$67</td><td class="green"><span class="badge bg-danger">Bị từ chối</span></td></tr><tr data-index="4"><td scope="row"><a href="#">#2644</a></td><td>Đặng Minh Phúc</td><td><a href="#" class="text-primary">Bí đỏ hồ lô</a></td><td>$165</td><td class="green"><span class="badge bg-success">Đã được phê duyệt</span></td></tr></tbody></table></div>
                                <div class="datatable-bottom">
                                    <div class="datatable-info">Hiển thị từ 1 đến 5 trong tổng số 5 mục</div>
                                    <nav class="datatable-pagination"><ul class="datatable-pagination-list"></ul></nav>
                                </div>
                            </div>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->
                <!-- Top Selling -->
                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                                <li><a class="dropdown-item" href="#">Tháng này</a></li>
                                <li><a class="dropdown-item" href="#">Năm nay</a></li>
                            </ul>
                        </div>

                        <div class="card-body pb-0">
                            <h5 class="card-title">Top Bán Chạy <span>| Hôm nay</span></h5>

                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Xem trước</th>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Đã bán</th>
                                        <th scope="col">Doanh thu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="../tpl/assets/img/raucaixanh.jpeg" alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">Rau cải xanh</a></td>
                                        <td>$64</td>
                                        <td class="fw-bold">124</td>
                                        <td>$5,828</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="assets/img/product-2.jpg" alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">Gạo nếp thơm</a></td>
                                        <td>$46</td>
                                        <td class="fw-bold">98</td>
                                        <td>$4,508</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="assets/img/product-3.jpg" alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">Cà rốt Đà Lạt</a></td>
                                        <td>$59</td>
                                        <td class="fw-bold">74</td>
                                        <td>$4,366</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="assets/img/product-4.jpg" alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">Khoai lang mật</a></td>
                                        <td>$32</td>
                                        <td class="fw-bold">63</td>
                                        <td>$2,016</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#"><img src="assets/img/product-5.jpg" alt=""></a></th>
                                        <td><a href="#" class="text-primary fw-bold">Táo Fujis</a></td>
                                        <td>$79</td>
                                        <td class="fw-bold">41</td>
                                        <td>$3,239</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Top Selling -->

            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Recent Activity -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Hoạt động gần đây <span>| Hôm nay</span></h5>

                    <div class="activity">

                        <div class="activity-item d-flex">
                            <div class="activite-label">32 min</div>
                            <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
                            <div class="activity-content">
                                Nguyễn Văn Hùng <a href="#" class="fw-bold text-dark"> đã mua 5 kg gạo nếp thơm và 2 bó rau cải xanh</a> vào ngày 15/11/2024
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">56 min</div>
                            <i class="bi bi-circle-fill activity-badge text-danger align-self-start"></i>
                            <div class="activity-content">
                                Trần Thị Mai đã đặt <a href="#" class="fw-bold text-dark">3 kg táo Fuji và 1 kg cà rốt Đà Lạt</a> vào ngày 14/11/2024, với yêu cầu giao hàng trong ngày.
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">2 hrs</div>
                            <i class="bi bi-circle-fill activity-badge text-primary align-self-start"></i>
                            <div class="activity-content">
                                Lê Hoàng Nam đã mua <a href="#" class="fw-bold text-dark"> 2 kg chuối tiêu và 1 quả bí đỏ hồ lô</a> trong chương trình khuyến mãi "Mua 2 tặng 1".
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">1 day</div>
                            <i class="bi bi-circle-fill activity-badge text-info align-self-start"></i>
                            <div class="activity-content">
                                Phạm Thúy Lan đã mua <a href="#" class="fw-bold text-dark">3 kg dưa hấu ruột đỏ</a> và nhận ưu đãi miễn phí vận chuyển vì đơn hàng trên 200,000 VNĐ.
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">2 days</div>
                            <i class="bi bi-circle-fill activity-badge text-warning align-self-start"></i>
                            <div class="activity-content">
                                Đặng Minh Phúc đã đặt hàng <a href="#" class="fw-bold text-dark"> 2 kg khoai lang mật và 1 kg xoài cát Hòa Lộc</a> trong chương trình "Giờ vàng giảm giá".
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">4 weeks</div>
                            <i class="bi bi-circle-fill activity-badge text-muted align-self-start"></i>
                            <div class="activity-content">
                                Hoàng Thanh Tùng đã mua <a href="#" class="fw-bold text-dark"> 1 kg ớt chuông vàng và 3 bó rau cải xanh</a> vào ngày 15/11/2024, sử dụng mã giảm giá 10%.
                            </div>
                        </div><!-- End activity item-->

                    </div>

                </div>
            </div><!-- End Recent Activity -->
            <!-- Budget Report -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Báo cáo ngân sách <span>| Tháng này</span></h5>

                    <div id="budgetChart" style="min-height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class="echart" _echarts_instance_="ec_1729687759868"><div style="position: relative; width: 268px; height: 400px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="402" height="600" style="position: absolute; left: 0px; top: 0px; width: 268px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                legend: {
                                    data: ['Ngân sách được phân bổ', 'Chi tiêu thực tế']
                                },
                                radar: {
                                    // shape: 'circle',
                                    indicator: [{
                                        name: 'Bán hàng',
                                        max: 6500
                                    },
                                    {
                                        name: 'Quản lý',
                                        max: 16000
                                    },
                                    {
                                        name: 'Công nghệ thông tin',
                                        max: 30000
                                    },
                                    {
                                        name: 'Hỗ trợ Khách hàng',
                                        max: 38000
                                    },
                                    {
                                        name: 'Phát triển',
                                        max: 52000
                                    },
                                    {
                                        name: 'Tiếp thị',
                                        max: 25000
                                    }
                                    ]
                                },
                                series: [{
                                    name: 'Ngân sách so với chi tiêu',
                                    type: 'radar',
                                    data: [{
                                        value: [4200, 3000, 20000, 35000, 50000, 18000],
                                        name: 'Ngân sách được phân bổ'
                                    },
                                    {
                                        value: [5000, 14000, 28000, 26000, 42000, 21000],
                                        name: 'Chi tiêu thực tế'
                                    }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Budget Report -->
            <!-- Website Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Lưu lượng truy cập website <span>| Hôm nay</span></h5>

                    <div id="trafficChart" style="min-height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" class="echart" _echarts_instance_="ec_1729687759869"><div style="position: relative; width: 268px; height: 400px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="402" height="600" style="position: absolute; left: 0px; top: 0px; width: 268px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            echarts.init(document.querySelector("#trafficChart")).setOption({
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '5%',
                                    left: 'center'
                                },
                                series: [{
                                    name: 'Access From',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '18',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: [{
                                        value: 1048,
                                        name: 'Công cụ tìm kiếm'
                                    },
                                    {
                                        value: 735,
                                        name: 'Trực tiếp'
                                    },
                                    {
                                        value: 580,
                                        name: 'Email'
                                    },
                                    {
                                        value: 484,
                                        name: 'Quảng cáo cộng tác'
                                    },
                                    {
                                        value: 300,
                                        name: 'Quảng cáo video'
                                    }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Website Traffic -->
            <!-- News & Updates Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm nay</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Tin tức & Cập nhật <span>| Hôm nay</span></h5>

                    <div class="news">
                        <div class="post-item clearfix">
                            <img src="assets/img/news-1.jpg" alt="">
                            <h4><a href="#">Chương trình khuyến mãi tháng 11</a></h4>
                            <p>Mua 2 tặng 1" áp dụng cho các sản phẩm rau củ tươi, kéo dài từ 15/11 đến 30/11/2024.</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-2.jpg" alt="">
                            <h4><a href="#">Cập nhật sản phẩm mới</a></h4>
                            <p>Cửa hàng vừa nhập về 100 kg gạo nếp thơm đặc sản miền Tây, đảm bảo chất lượng và giá ưu đãi.</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-3.jpg" alt="">
                            <h4><a href="#">Thông báo nghỉ lễ</a></h4>
                            <p>Cửa hàng sẽ tạm nghỉ giao dịch vào ngày 20 /11/2024 nhân dịp Ngày Nhà giáo Việt Nam.</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-4.jpg" alt="">
                            <h4><a href="#">Chính sách giao hàng mới</a></h4>
                            <p>Từ 1/12/2024, miễn phí giao hàng cho đơn trên 300,000 VNĐ trong nội thành và áp dụng mức phí mới cho khu vực ngoại thành.</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-5.jpg" alt="">
                            <h4><a href="#">Tin tức về an toàn thực phẩm</a></h4>
                            <p>"Bí quyết chọn rau sạch an toàn" - bài viết hướng dẫn khách hàng cách phân biệt rau hữu cơ với rau thường.</p>
                        </div>

                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

    </div>
</section>

