@model TestTemplate.Models.NongSan
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaNongSan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaNongSan</h1>

<h4>NongSan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaNongSan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="MaNongSan" />
            <div class="form-group">
                <label asp-for="TenNongSan" class="control-label"></label>
                <input asp-for="TenNongSan" class="form-control" />
                <span asp-validation-for="TenNongSan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label"></label>
                <select asp-for="MaLoai" class="form-control" asp-items="ViewBag.MaLoai"></select>
                <span asp-validation-for="MaLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTonKho" class="control-label"></label>
                <input asp-for="SoLuongTonKho" class="form-control" />
                <span asp-validation-for="SoLuongTonKho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonViTinh" class="control-label"></label>
                <input asp-for="DonViTinh" class="form-control" />
                <span asp-validation-for="DonViTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNhaCungCap" class="control-label"></label>
                <select asp-for="MaNhaCungCap" class="form-control" asp-items="ViewBag.MaNhaCungCap"></select>
                <span asp-validation-for="MaNhaCungCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuongDanAnh" class="control-label"></label>
                <input asp-for="DuongDanAnh" class="form-control" />
                <span asp-validation-for="DuongDanAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhMucNongSan">Back to List</a>
</div>
<!-- Thêm thư viện JavaScript cho validation phía client -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
