@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thêm ảnh nông sản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12 pt-4">
    <h3> Upload ảnh nông sản</h3>
    <form enctype="multipart/form-data" method="post">
        <input type="hidden" name="maNongSan" value="@ViewBag.maNongSan" />
        <input type="hidden" name="TenNongSan" value="@Model.TenNongSan" />

        <p>
            <label>Chọn ảnh</label><br />
            <input type="file" name="fileAnh" />
        </p>
        <button class="btn btn-xs btn-success">Upload</button>
        <p style="color:red">@ViewBag.Error</p>
        <p style="color:green">@ViewBag.Message</p>
    </form>
</div>


