
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Yummy Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="../tpl/assets/img/favicon.png" rel="icon">
  <link href="../tpl/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../tpl/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../tpl/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../tpl/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../tpl/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../tpl/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../tpl/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../tpl/assets/img/logo.png" alt=""> -->
        <h1 class="sitename" style="color:red">NÔNG SẢN VIỆT</h1>
        <span></span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Trang chủ<br></a></li>
          <li><a href="#about">Giới thiệu</a></li>
                    @await Component.InvokeAsync("LoaiNongSanMenu")
          <li><a href="#events">Sự kiện</a></li>
          <li><a href="#chefs">Nhà cung cấp</a></li>
          <li><a href="#gallery">Gallery</a></li>
                   
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      @* <a class="btn-getstarted" href="index.html#book-a-table">Login</a> *@
            <a asp-controller="Access" asp-action= "Logout"  class="btn-getstarted" >Đăng nhập</a>
    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Tận hưởng nông sản sạch<br></h1>
            <p data-aos="fade-up" data-aos-delay="100">Đội ngũ của chúng tôi luôn sẵn sàng phục vụ nông sản chất lượng cao</p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="#book-a-table" class="btn-get-started">Mua nông sản</a>
              <a href="https://www.youtube.com/watch?v=Au6LqK1UH8g" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="../tpl/assets/img/anhnongsan.jpeg" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Một chút về chúng tôi<br></h2>
        <p><span>Tìm hiểu thêm</span> <span class="description-title">Về chúng tôi</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <img src="../tpl/assets/img/about.jpeg" class="img-fluid mb-4" alt="">
            <div class="book-a-table">
              <h3>Mua nông sản</h3>
              <p>0346673447</p>
            </div>
          </div>
          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
               Chào mừng bạn đến với Shop Nông Sản Việt – Nơi cung cấp nông sản tươi ngon và an toàn!
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Chúng tôi tự hào mang đến cho bạn những sản phẩm nông nghiệp chất lượng cao, được trồng và chăm sóc bởi những người nông dân tâm huyết.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Tại Nông Sản Việt, bạn có thể dễ dàng tìm thấy các loại rau củ, trái cây, và sản phẩm hữu cơ, tất cả đều được thu hoạch trực tiếp từ ruộng vườn</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Chúng tôi cam kết mang đến cho bạn những sản phẩm tươi ngon nhất, giúp bạn và gia đình có một bữa ăn lành mạnh và bổ dưỡng</span></li>
              </ul>
                            <p>Hãy cùng khám phá và ủng hộ nông sản Việt Nam ngay hôm nay!</p>

              <div class="position-relative mt-4">
                <img src="../tpl/assets/img/about2.jpeg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=Au6LqK1UH8g" class="glightbox pulsating-play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section light-background">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Tại sao nên chọn Nông Sản Việt</h3>
              <p>1.Chất lượng sản phẩm: Chúng tôi cam kết cung cấp nông sản tươi ngon, an toàn và được kiểm định chất lượng nghiêm ngặt.</p>
              <p>2.Nguồn gốc rõ ràng: Tất cả sản phẩm đều được thu hoạch từ những trang trại uy tín, đảm bảo nguồn gốc xuất xứ minh bạch.</p>
              <p>3.Dịch vụ khách hàng tận tâm: Đội ngũ nhân viên của chúng tôi luôn sẵn sàng hỗ trợ và tư vấn để bạn có trải nghiệm mua sắm tốt nhất.</p>
              <p>4.Giá cả hợp lý: Chúng tôi cung cấp sản phẩm với mức giá cạnh tranh, giúp bạn tiết kiệm chi phí mà vẫn đảm bảo chất lượng.</p>
              <p>5.Giao hàng nhanh chóng: Chúng tôi cam kết giao hàng nhanh chóng và đúng hẹn, mang đến sự tiện lợi cho bạn trong việc mua sắm.</p>             
              <div class="text-center">
                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Duyệt đơn nhanh</h4>
                  <p>Đơn hàng của bạn sẽ được duyệt 1 cách nhanh chóng</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Chất lượng cao</h4>
                  <p>Nông sản Việt cam kết nông sản cung cấp cho khách hàng là nông sản chất lượng cao nhất</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Giao hàng nhanh chóng</h4>
                  <p>Chúng tôi cam kết giao hàng với tốc độ cực nhanh chỉ từ 12-24 giờ đối với địa chỉ nội thành</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section dark-background">

      <img src="../tpl/assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Khách hàng</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p>Số loại nông sản sẵn có</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1000000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Số đơn giao thành công</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
              <p>Số địa chỉ cửa hàng</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Menu Section -->
    <section id="menu" class="menu section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2></h2>Menu của chúng tôi
        <p><span>Check Our</span> <span class="description-title">Nông sản Việt</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">   

        <div class="tab-pane fade active show  " id=" menu-starters">

            <div class="tab-header text-center">
              <h3>Menu</h3>
             
            </div>
        <div class="row gy-5" id="displaySp">
           @RenderBody()
        </div>
          </div><!-- End Starter Menu Content -->

          <div class="tab-pane fade" id="menu-breakfast">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Breakfast</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-1.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $5.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-2.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Aut Luia</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $14.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-3.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Est Eligendi</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $8.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-4.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-5.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-6.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Laboriosam Direva</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $9.95
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Breakfast Menu Content -->

          <div class="tab-pane fade" id="menu-lunch">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Lunch</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-1.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $5.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-2.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Aut Luia</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $14.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-3.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Est Eligendi</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $8.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-4.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-5.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-6.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Laboriosam Direva</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $9.95
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Lunch Menu Content -->

          <div class="tab-pane fade" id="menu-dinner">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Dinner</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-1.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $5.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-2.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Aut Luia</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $14.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-3.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Est Eligendi</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $8.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-4.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-5.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Eos Luibusdam</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $12.95
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="../tpl/assets/img/menu/menu-item-6.png" class="glightbox"><img src="../tpl/assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Laboriosam Direva</h4>
                <p class="ingredients">
                  Lorem, deren, trataro, filede, nerada
                </p>
                <p class="price">
                  $9.95
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Dinner Menu Content -->

        </div>

      </div>

    </section><!-- /Menu Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>PHẢN HỒI</h2>
        <p>KHÁCH HÀNG <span class="description-title">NÓI GÌ VỀ CHÚNG TÔI</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Cửa hàng các bạn rất sạch sẽ và thoáng mát tôi rất thích không khí nơi đây</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Trương Quang Nam</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="../tpl/assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Nông sản ở đây thực sự rất ngon và sạch, tôi đã mua hàng ở đây được 5 năm rồi</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Nguyễn Việt Hưng</h3>
                      <h4>Designer</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="../tpl/assets/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Dịch vụ chăm sóc khách hàng rất tốt, nhân viên nhiệt tình và sẵn sàng tư vấn để mình chọn được sản phẩm phù hợp</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Nguyễn Mạnh Cường</h3>
                      <h4>Store Owner</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="../tpl/assets/img/testimonials/testimonials-3.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Chất lượng sản phẩm ở cửa hàng nông sản này rất đáng tin cậy, từ rau củ quả đến các 
                            loại đặc sản đều rất tươi và ngon. Mình rất hài lòng với cách phục vụ chuyên nghiệp,
                            nhân viên nhiệt tình giới thiệu về các sản phẩm đặc trưng. Ngoài ra, giá cả ở đây cũng 
                            khá hợp lý, phù hợp với chất lượng và nguồn gốc sản phẩm. Mình thấy đây là địa điểm tuyệt 
                            vời để mua sắm thực phẩm sạch và an toàn</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Nguyễn Huy Hùng</h3>
                      <h4>Entrepreneur</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="../tpl/assets/img/testimonials/testimonials-4.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(../tpl/assets/img/giamgia50.jpg)">
              <h3>Giảm giá mùa vụ</h3>
              <div class="price align-self-start"> Giá trị lên đến $199</div>
              <p class="description">
                Giảm 15% lên đến 50% cho tất cả các loại rau củ tươi trong mùa thu hoạch với đơn hàng từ 100,000 VNĐ, kéo dài từ ngày 1 đến 15 hàng tháng
              </p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(../tpl/assets/img/mua1tang1.jpeg)">
              <h3>Mua 2 tặng 1</h3>
              <div class="price align-self-start">Giá trị lên đến $289</div>
              <p class="description">
                  Khi mua 2 kg trái cây nhập khẩu với giá trị tối thiểu 150,000 VNĐ, khách hàng được tặng thêm 0,5 kg cùng loại, áp dụng trong ngày cuối tuần
              </p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(../tpl/assets/img/giovanggiamgia.jpeg)">
              <h3>Giờ vàng giảm giá</h3>
              <div class="price align-self-start">Giá trị lên đến $399</div>
              <p class="description">
                  Giảm 20% cho đơn hàng từ 100,000 VNĐ trong khung giờ từ 12h đến 14h mỗi thứ 4, giá trị tối thiểu là 100,000 VNĐ
              </p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(../tpl/assets/img/freeshipp.jpeg)">
              <h3>Miễn phí vận chuyển</h3>
              <div class="price align-self-start">Giá trị lên đến $99</div>
              <p class="description">
                  Miễn phí giao hàng cho đơn hàng trên 200,000 VNĐ trong nội thành, áp dụng suốt tuần lễ "Nông sản sạch
              </p>
            </div><!-- End Event item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->

    <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nhà cung cấp</h2>
        <p><span>Những nhà cung cấp</span> <span class="description-title">Hàng đầu của chúng tôi<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="../tpl/assets/img/chefs/nongdan1.webp" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lý Minh Hùng</h4>
                <span>Giám đốc HTX Thanh Bình</span>
                <p>“Đợt này tôi mang theo các sản phẩm làm từ thân cây chuối. Rất đẹp, nhìn là thích liền. 
                    Hy vọng các khách hàng châu Âu sắp gặp cũng sẽ hài lòng”, ông Hùng hào hứng cho biết.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="../tpl/assets/img/chefs/nongdan2.webp" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Phạm Văn Trung </h4>
                <span>Anh nông dân trồng lúa trên cánh đồng thẳng cánh cò bay ở Thái Bình</span>
                <p>Sinh ra tại làng quê, và bám trụ với nghề nông, 2 bố con ông Phạm Văn Trung 
                    (sinh năm 1974) và con trai Phạm Minh Tân (sinh năm 1995) ở thôn Đông Quách, 
                    xã Nam Hà, huyện Tiền Hải, tỉnh Thái Bình không cam lòng khi nhiều đất trồng 
                    lúa bị bỏ hoang. Từ đó, bố con ông có quyết định mà không phải ai cũng dám làm.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="../tpl/assets/img/chefs/Nongdan3.webp" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nguyễn Thanh Tuấn</h4>
                <span>Nông dân Việt Nam xuất sắc của tỉnh Kiên Giang</span>
                <p> Ông bắt đầu những bước chân đầu tiên chinh phục vùng đất hoang vu, chỉ toàn cỏ dại và phèn, mặn.
                    "Đất phèn đến độ chỉ cần nhúng chân xuống nước đã vàng khè", ông Tuấn tâm sự với người viết.
                    Tự hào Nông dân Việt Nam: 862 tỷ đồng và những người nông dân mới
                    Nhưng bằng ý chí, nghị lực, sau hơn 20 năm chinh phục vùng đất khó, n
                    gười nông dân ấy đã sở hữu một cánh đồng 500ha, đều đặn cho những hạt 
                    ngọc trời dù qua bao mùa mưa nắng với sản lượng lên đến 3.625 tấn. </p>
            </div>
          </div><!-- End Chef Team Member -->

        </div>

      </div>

    </section><!-- /Chefs Section -->

    <!-- Book A Table Section -->
    <section id="book-a-table" class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Đặt hàng ngay</h2>
        <p><span>Liên hện ngay </span> <span class="description-title">Với chúng tôi<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 reservation-img" style="background-image: url(../tpl/assets/img/dathang.jpg);"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
            <form action="../tpl/forms/book-a-table.php" method="post" role="form" class="php-email-form">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tên" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Số điện thoại" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="date" name="date" class="form-control" id="date" placeholder="Ngày giao hàng" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="time" class="form-control" name="time" id="time" placeholder="Thời gian" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="Số sản phẩm dữ kiến mua" required="">
                </div>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Ghi chú dành cho chúng tôi"></textarea>
              </div>

              <div class="text-center mt-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
                <button type="submit">Liên hệ để đặt hàng</button>
              </div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>

    </section><!-- /Book A Table Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Một số hình ảnh</h2>
        <p><span>Một số hình ảnh </span> <span class="description-title">Về chúng tôi</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../tpl/assets/img/gallery/kho-1.jpeg"><img src="../tpl/assets/img/gallery/kho-1.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../tpl/assets/img/gallery/kho-2.jpeg"><img src="../tpl/assets/img/gallery/kho-2.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../tpl/assets/img/gallery/kho-3.jpeg"><img src="../tpl/assets/img/gallery/kho-3.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../tpl/assets/img/gallery/kho-4.jpeg"><img src="../tpl/assets/img/gallery/kho-4.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../tpl/assets/img/gallery/sx-1.jpeg"><img src="../tpl/assets/img/gallery/sx-1.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../tpl/assets/img/gallery/sx-2.jpeg"><img src="../tpl/assets/img/gallery/sx-2.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../tpl/assets/img/gallery/sx-3.jpeg"><img src="../tpl/assets/img/gallery/sx-3.jpeg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../tpl/assets/img/gallery/sx-4.jpeg"><img src="../tpl/assets/img/gallery/sx-4.jpeg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Liên hệ</h2>
        <p><span>Bạn cần hỗ trợ?</span> <span class="description-title">Hãy liên hệ với chúng tôi</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-5">
                        <!-- Start Google Maps -->
                        <iframe style="width: 100%; height: 500px;"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1132410573377!2d105.80084557362122!3d21.028154480620977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab424a50fff9%3A0xbe3a7f3670c0a45f!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBHaWFvIFRow7RuZyBW4bqtbiBU4bqjaQ!5e0!3m2!1svi!2s!4v1731640777250!5m2!1svi!2s"
                                frameborder="0"
                                style="border:0;"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div><!-- End Google Maps -->
        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="icon bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Địa chỉ</h3>
                <p>3 Đ. Cầu Giấy, Ngọc Khánh, Đống Đa, Hà Nội</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Đường dây nóng</h3>
                <p>113</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email</h3>
                <p>CoSaoCute@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
              <i class="icon bi bi-clock flex-shrink-0"></i>
              <div>
                <h3>Thời gian mở cửa<br></h3>
                <p><strong>Từ thứ 2-6:</strong> 8AM - 18PM; <strong>Chủ nhật:</strong> Đóng cửa</p>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="../tpl/forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Tên" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Chủ đề" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Tin nhắn" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Gửi cho chúng tôi</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Địa chỉ</h4>
            <p>3 Đ. Cầu Giấy, Ngọc Khánh</p>
            <p> Đống Đa, Hà Nội</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Liên hệ</h4>
            <p>
              <strong>Số điện thoại:</strong> <span>113</span><br>
              <strong>Email:</strong> <span>CoSaoCute@gmail.com</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Thời gian mở cửa</h4>
            <p>
              <strong>Thứ 2-6:</strong> <span>8AM -18PM</span><br>
              <strong>Chủ nhật</strong>: <span>Đóng cửa</span>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h4>Theo dõi chúng tôi</h4>
          <div class="social-links d-flex">
            <a href="https://soundcloud.com/ph-m-tu-n-minhh/niu-duyen-minh-prod-remix-full?in=th-d-ng-o-154341492/sets/bpfd3hoycpph/s-9l0F0q6ZatN&si=88fb921b3f7f47d19308cf25c10e215b&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/nguyenkim.sao" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://soundcloud.com/death-note-398927529/n-i-v-c-n-i-tr-i-ver-2-huy-pt?in=th-d-ng-o-154341492/sets/bpfd3hoycpph/s-9l0F0q6ZatN&si=41a398233775435fbed71eff4c10a089&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://soundcloud.com/ha-khanh-746649990/hey-baby-drop-it-one-the-floor?in=th-d-ng-o-154341492/sets/bpfd3hoycpph/s-9l0F0q6ZatN&si=543c6de1d4744f158878e694f8ba89d1&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Yummy</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
       Đây là 1 sản phẩm của nhóm 13 ?
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../tpl/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../tpl/assets/vendor/php-email-form/validate.js"></script>
  <script src="../tpl/assets/vendor/aos/aos.js"></script>
  <script src="../tpl/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../tpl/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../tpl/assets/vendor/swiper/swiper-bundle.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <!-- Main JS File -->
  <script src="../tpl/assets/js/main.js"></script>

</body>

</html>